
# Schema Evolution for Automated Metadata-Driven Ingestion

Code for Chris Hastie's session for Snowflake BUILD 2024 on how to leverage schema evolution for automated metadata-driven ingestion.

## Sharing this repository

To quickly share this repository, use this QR code:

![QR for repo](images/QR-repo.png)

Alternatively, share this link:

[https://github.com/InterWorks/Snowflake-Build-2024---Schema-Evolution](https://github.com/InterWorks/Snowflake-Build-2024---Schema-Evolution)

## More information on the author

For more information on the author, Chris Hastie, visit his profile at InterWorks and/or LinkedIn.

### InterWorks Profile

[https://interworks.com/people/chris-hastie](https://interworks.com/people/chris-hastie)

![QR for InterWorks Profile](images/QR-IW-profile.png)

### LinkedIn Profile

[https://www.linkedin.com/in/chris-hastie/](https://www.linkedin.com/in/chris-hastie/)

![QR for LinkedIn](images/QR-LinkedIn.png)

In [ ]:
# Import python packages
import streamlit as st
import pandas as pd

# We can also use Snowpark for our analyses!
from snowflake.snowpark.context import get_active_session
session = get_active_session()

In [ ]:
-- Welcome to Snowflake Notebooks!
-- Try out a SQL cell to generate some data.
SELECT 'FRIDAY' as SNOWDAY, 0.2 as CHANCE_OF_SNOW
UNION ALL
SELECT 'SATURDAY',0.5
UNION ALL 
SELECT 'SUNDAY', 0.9;

In [ ]:
# Then, we can use the python name to turn cell2 into a Pandas dataframe
my_df = cell2.to_pandas()

# Chart the data
st.subheader("Chance of SNOW ‚ùÑÔ∏è")
st.line_chart(my_df, x='SNOWDAY', y='CHANCE_OF_SNOW')

# Give it a go!
st.subheader("Try it out yourself and show off your skills ü•á")